.contact-us-div
{
    position: relative;
    background-image: url('../styles/hero-bg.png');
    color: white;
    padding: 3rem 0;
}
.contact-h2
{
    position: absolute;
    font-family: "racer";
    font-size: 100px;
    font-weight: 600;
    transform: rotate(-90deg);
    left: -18rem;
    top: 45%;
    opacity: .7;
}

.contact-form
{
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin:4rem auto;

    color: white;
}
.contact-us-info
{
    margin-top: 6rem;
}
.address-list
{
    padding-left: 0;
}
form
{
    background: rgba( 16, 8, 8, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.imgDiv
{
    color: white;
    width: 800px;
    top: 3rem;
    height: 800px;
    padding-top: 4rem;
}
.contact-img
{
    width: 500px;
}
.imgDiv h2
{
    font-size: 40px;
    padding: 2rem 0;
}
.imgDiv p
{
    width: 65%;
}
.social-share img
{
    width: 40px;
}

/* Form design  */

form { 
    max-width:420px; 
    margin:50px auto;
    padding: 2rem; 
    
    border-radius: 10px;
}
form h2
{
    font-size: 35px;
    text-align: center;
    padding: 1rem;
    font-family: 'Playfair Display', serif;
}
form p
{
    font-size: 20px;
    text-align: center;
    padding-bottom: 1rem;
}
.feedback-input {
  font-weight:300;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(255, 255, 255);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.btnDiv
{
    text-align: center;
    padding: 1rem;
}
[type="submit"] {
  width: 50%;
  background:rgb(255, 250, 250);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(13, 12, 12);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:500;
}


@media screen and (max-width:540px) {
    .contact-form
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-img
    {
        width: 340px;
    }
    .imgDiv p
    {
        width: 80%;
        margin: auto;
    }
}



.address-list
{
    list-style: none;
    text-decoration: none;
}
.address-list a
{
    text-decoration: none;
    color: white;
}
.address-list a:hover
{
    color: #CCF62A;
}
.social-share
{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    color: white;
}

@media screen and (max-width:540px)
{
    .contact-h2
    {
        font-size: 60px;
        left: -11rem;
        top: 40%;
    }
    .contact-us-info
    {
        width: 60%;
        margin: auto;
    }
    .heading-title
    {
        font-size: 30px;
        width: 90%;
        margin: auto;
        padding-block: 2rem;
    }
    .address-list li
    {
        padding-block: 1rem;
    }
    .address-list li p
    {
        width: 15rem;
    }
    .social-share{
        justify-content: center;
    }
    form
    {
        margin-top: 0;
    }
}