.events-div
{
    padding: 5rem;
    background-image: url('./hero-bg.png');
    position: relative;
    color: white;
}
.vertical-h2
{
    position: absolute;
    transform: rotate(-90deg);
    top: 45%;
    left: -11rem;
    font-size: 100px;
    font-family: "racer";
    font-weight: 600;
    opacity: .6;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    }
    .section
    {
        display: flex;
            align-items: center;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; 
            justify-content: end;

    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
            justify-content: start;
    }
    .div3 { grid-area: 2 / 2 / 3 / 3; 
            justify-content: start;
    }
    .div4 { grid-area: 2 / 1 / 3 / 2; 
            justify-content: end;
    }
  .Card
  {
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .CSE img{ 
            width: 100%;
        }
    .CE img{ 
            width: 100%;    
    }
    .EEE img { 
            width: 100%;
        }
    .ECE img{ 
            width: 100%;
    }


@media screen and (max-width:540px) {
    .vertical-h2
    {
        top: 50%;
        font-size: 60px;
        left: -6rem;
    }
    .parent
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
    }
    .Card
    {
        width: 200px;
        height: 200px;
        text-align: center;
    }
    .events-div
    {
        padding-block: 4rem;
    }
}