.events-div
{
    padding: 5rem;
    background-image: url('./hero-bg.png');
    position: relative;
    color: white;
}
.vertical-h2
{
    position: absolute;
    transform: rotate(-90deg);
    top: 45%;
    left: -11rem;
    font-size: 100px;
    font-family: "racer";
    font-weight: 600;
    opacity: .6;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    }
    .section
    {
        display: flex;
            align-items: center;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; 
            align-items: end;

    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
            align-items: start;
    }
    .div3 { grid-area: 2 / 2 / 3 / 3; 
            align-items: start;
    }
    .div4 { grid-area: 2 / 1 / 3 / 2; 
            align-items: end;
    }
  .Card
  {
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(8, 5, 5, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
    .CSE img{ 
            width: 100%;
        }
    .CE img{ 
            width: 100%;    
    }
    .EEE img { 
            width: 100%;
        }
    .ECE img{ 
            width: 100%;
    }


@media screen and (max-width:540px) {
    .vertical-h2
    {
        top: 50%;
        font-size: 50px;
        left: -5rem;
    }
    .parent
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
    }
    .Card
    {
        width: 200px;
        height: 200px;
        text-align: center;
    }
    .events-div
    {
        padding-block: 4rem;
    }
}

.section{
    display: flex;
    flex-direction: column  ;
}
.cardbottom
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
}
.arrow
{
    width: 30px !important;
}
.Card:hover .arrow{
	transform: rotate(-45deg);
	padding: 2px;

}
.cardbottom span{
	font-family: origami;
	font-size: 2rem;
	animation-name: rainbow;
  animation-duration: 1s;

  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rainbow {
	0% {
	  color:#ffffff;
	}
	
	100% {
	  color:#CCF62A;
	}
  }

  @media screen and (max-width:540px) {
    .section{
        padding-block: 1rem;
    }
    .cardbottom
    {
        margin-bottom: 3rem;
    }
  }