.hero-text
{
    width: 40rem;
    margin: auto;
    color: white;
    margin: 4rem auto;
    padding: 2rem 0;
    margin: 1px solid red;
}

.hero-text h1
{
    font-size: 240px;
    font-family: 'origami';
}
h3
{
    font-family: 'codepro';
}
.right-h3
{
    text-align: right;
}
.special-text
{
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width:540px) {
    
    #root
    {
        overflow-x: hidden;
        max-width: 100% !important;
    }
    .hero-text
    {
        width: 90%;
        overflow-x:hidden ;
    }
    .hero-text h1
    {
        font-size: 120px;
    }
    .hero-text h3
    {
        font-size: 15px;
    }

}